# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.blog/2017-07-06-introducing-code-owners/
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*                                               @Azure-Samples/spring-cloud-azure-maintain
/appconfiguration/                              @mrm9084 @Azure-Samples/spring-cloud-azure-maintain
